footer{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.copyright{
    color: gray;
    size: 8px;
    font-style: italic;
}
.logoFooter{
    height: 50px;
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
}